# TP Rocking Data (Esteban Otero)

### Fuente de información a consultar: https://www.kaggle.com/abrambeyer/h1b-visa-petitions-20152019

## Comienzo cargando la libreria Pandas

In [1]:
import pandas as pd

## Cargo el archivo CSV a analizar y muestro los primeros 5 registros para ver con que info cuento

In [2]:
df = pd.read_csv("h1b_disclosure_data_2015_2019.csv",encoding='latin-1')
df.head()

,CASE_NUMBER,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,SOC_CODE,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,WORKSITE_CITY,WORKSITE_STATE_ABB,YEAR,WORKSITE_STATE_FULL,WORKSITE
0,I-200-09285-514415,CERTIFIED,IT CATS LLC,COMPUTER SYSTEMS ANALYSTS,15-1121,SENIOR BUSINESS ANALYST,Y,109116.8,"NORTH WALES,",PA,2015,PENNSYLVANIA,"NORTH WALES, PENNSYLVANIA"
1,I-200-09341-564186,CERTIFIED-WITHDRAWN,"XPERT TECHNOLOGIES, INC.","COMPUTER OCCUPATIONS, ALL OTHER*",15-1799,QUALITY ASSURANCE ANALYST,Y,58282.0,CAMP HILL,PA,2015,PENNSYLVANIA,"CAMP HILL, PENNSYLVANIA"
2,I-200-09342-274341,CERTIFIED,"ISR INFO WAY, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,SR. SOFTWARE DEVELOPER,Y,84906.0,CHICAGO,IL,2015,ILLINOIS,"CHICAGO, ILLINOIS"
3,I-200-09364-425868,CERTIFIED,MAGIC CIRCLE FILMS INTERNATIONAL LLC,FILM AND VIDEO EDITORS,27-4032,VIDEO EDITOR,Y,39333.0,AUBURN,NY,2015,NEW YORK,"AUBURN, NEW YORK"
4,I-200-10006-413683,WITHDRAWN,SAPHIRE SOLUTIONS INC,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,15-1142,SYSTEMS ADMINISTRATOR,Y,68638.0,BETHPAGE,NY,2015,NEW YORK,"BETHPAGE, NEW YORK"

## Analizo datatype y la cantidad de registros de cada columan

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857216 entries, 0 to 857215
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CASE_NUMBER          857216 non-null  object
 1   CASE_STATUS          857216 non-null  object
 2   EMPLOYER_NAME        857195 non-null  object
 3   SOC_NAME             857210 non-null  object
 4   SOC_CODE             857212 non-null  object
 5   JOB_TITLE            857211 non-null  object
 6   FULL_TIME_POSITION   857215 non-null  object
 7   PREVAILING_WAGE      857212 non-null  float64
 8   WORKSITE_CITY        857188 non-null  object
 9   WORKSITE_STATE_ABB   857216 non-null  object
 10  YEAR                 857216 non-null  int64
 11  WORKSITE_STATE_FULL  857216 non-null  object
 12  WORKSITE             857216 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 85.0+ MB

# Data Cleaning

## Cuento la cantidad de registros nulos por columna para ver si puedo eliminar alguna de ellas

In [4]:
NaN = df.isna().sum()
NaN

CASE_NUMBER             0
CASE_STATUS             0
EMPLOYER_NAME          21
SOC_NAME                6
SOC_CODE                4
JOB_TITLE               5
FULL_TIME_POSITION      1
PREVAILING_WAGE         4
WORKSITE_CITY          28
WORKSITE_STATE_ABB      0
YEAR                    0
WORKSITE_STATE_FULL     0
WORKSITE                0
dtype: int64

### No se justifica borrar ninguna columna, pero si eliminar los registros con campos nulos y los solicitudes duplicadas para simplificar el análisis:

In [93]:
df = df.dropna()
df.sort_values('CASE_NUMBER', inplace = True)
df.drop_duplicates(subset ='CASE_NUMBER',
                     keep = False, inplace = True)

### Vuelvo a chequear la info para preparar la migración a MySQL

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 821618 entries, 274625 to 708167
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CASE_NUMBER          821618 non-null  object
 1   CASE_STATUS          821618 non-null  object
 2   EMPLOYER_NAME        821618 non-null  object
 3   SOC_NAME             821618 non-null  object
 4   SOC_CODE             821618 non-null  object
 5   JOB_TITLE            821618 non-null  object
 6   FULL_TIME_POSITION   821618 non-null  object
 7   PREVAILING_WAGE      821618 non-null  float64
 8   WORKSITE_CITY        821618 non-null  object
 9   WORKSITE_STATE_ABB   821618 non-null  object
 10  YEAR                 821618 non-null  int64
 11  WORKSITE_STATE_FULL  821618 non-null  object
 12  WORKSITE             821618 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 87.8+ MB

# Data Load

### Creo la conexión a la base de datos en MySQl

In [102]:
import mysql.connector
from sqlalchemy import create_engine
engine= create_engine ('mysql+mysqlconnector://rocking:Rocking2021@127.0.0.1/tp_rd', encoding='latin1', echo=False)

### cargo el dataframe corregido a la base Staging_visas para armar el data warehouse y continuar con el analisis de la info

In [103]:
df.to_sql("staging_visas",con=engine)

OperationalError: (mysql.connector.errors.OperationalError) 2055: Lost connection to MySQL server at '127.0.0.1:3306', system error: 10053 Se ha anulado una conexión establecida por el software en su equipo host
[SQL: INSERT INTO staging_visas (`index`, `CASE_NUMBER`, `CASE_STATUS`, `EMPLOYER_NAME`, `SOC_NAME`, `SOC_CODE`, `JOB_TITLE`, `FULL_TIME_POSITION`, `PREVAILING_WAGE`, `WORKSITE_CITY`, `WORKSITE_STATE_ABB`, `YEAR`, `WORKSITE_STATE_FULL`, `WORKSITE`) VALUES (%(index)s, %(CASE_NUMBER)s, %(CASE_STATUS)s, %(EMPLOYER_NAME)s, %(SOC_NAME)s, %(SOC_CODE)s, %(JOB_TITLE)s, %(FULL_TIME_POSITION)s, %(PREVAILING_WAGE)s, %(WORKSITE_CITY)s, %(WORKSITE_STATE_ABB)s, %(YEAR)s, %(WORKSITE_STATE_FULL)s, %(WORKSITE)s)]
[parameters: ({'index': 274625, 'CASE_NUMBER': 'I-200-09183-295355', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'OMRON AUTOMOTIVE ELECTRONICS, INC.', 'SOC_NAME': 'SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE', 'SOC_CODE': '15-1133', 'JOB_TITLE': 'SOFTWARE DEVELOPMENT ENGINEER', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 64085.0, 'WORKSITE_CITY': 'NOVI', 'WORKSITE_STATE_ABB': 'MI', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'MICHIGAN', 'WORKSITE': 'NOVI, MICHIGAN'}, {'index': 311248, 'CASE_NUMBER': 'I-200-09187-608762', 'CASE_STATUS': 'CERTIFIED-WITHDRAWN', 'EMPLOYER_NAME': 'OPTIMAL SOLUTIONS & TECHNOLOGIES (OST), INC', 'SOC_NAME': 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 'SOC_CODE': '17-2072.00', 'JOB_TITLE': 'RADIO FREQUENCY ENGINEER', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 51813.0, 'WORKSITE_CITY': 'UNION TOWN', 'WORKSITE_STATE_ABB': 'PA', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA', 'WORKSITE': 'UNIONTOWN, PENNSYLVANIA'}, {'index': 313101, 'CASE_NUMBER': 'I-200-09196-047365', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'UNION SPECIAL, LLC', 'SOC_NAME': 'MECHANICAL ENGINEERS', 'SOC_CODE': '17-2141', 'JOB_TITLE': 'CUTTING SYSTEMS ENGINEER', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 60070.0, 'WORKSITE_CITY': 'HUNTLEY', 'WORKSITE_STATE_ABB': 'IL', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'ILLINOIS', 'WORKSITE': 'HUNTLEY, ILLINOIS'}, {'index': 245086, 'CASE_NUMBER': 'I-200-09197-139178', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'DESIGN TOSCANO, INC.', 'SOC_NAME': 'SOFTWARE DEVELOPERS, APPLICATIONS', 'SOC_CODE': '15-1132', 'JOB_TITLE': 'SOFTWARE DEVELOPER', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 50856.0, 'WORKSITE_CITY': 'ELK GROVE VILLAGE', 'WORKSITE_STATE_ABB': 'IL', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'ILLINOIS', 'WORKSITE': 'ELK GROVE VILLAGE, ILLINOIS'}, {'index': 0, 'CASE_NUMBER': 'I-200-09285-514415', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'IT CATS LLC', 'SOC_NAME': 'COMPUTER SYSTEMS ANALYSTS', 'SOC_CODE': '15-1121', 'JOB_TITLE': 'SENIOR BUSINESS ANALYST', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 109116.8, 'WORKSITE_CITY': 'NORTH WALES,', 'WORKSITE_STATE_ABB': 'PA', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA', 'WORKSITE': 'NORTH WALES, PENNSYLVANIA'}, {'index': 283877, 'CASE_NUMBER': 'I-200-09292-935131', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'UNIFY SOLUTIONS, INC.', 'SOC_NAME': 'NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 'SOC_CODE': '15-1142', 'JOB_TITLE': 'SYSTEMS ADMINISTRATOR', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 48381.0, 'WORKSITE_CITY': 'LINCOLNSHIRE', 'WORKSITE_STATE_ABB': 'IL', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'ILLINOIS', 'WORKSITE': 'LINCOLNSHIRE, ILLINOIS'}, {'index': 581818, 'CASE_NUMBER': 'I-200-09308-748082', 'CASE_STATUS': 'WITHDRAWN', 'EMPLOYER_NAME': 'THE WRIGHT CENTER FOR GRADUATE MEDICAL EDUCATION', 'SOC_NAME': 'HEALTH DIAGNOSING AND TREATING PRACTITIONERS, ALL', 'SOC_CODE': '29-1199', 'JOB_TITLE': 'RESIDENT PHYSICIAN', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 54288.0, 'WORKSITE_CITY': 'SCRANTON', 'WORKSITE_STATE_ABB': 'PA', 'YEAR': 2018, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA', 'WORKSITE': 'SCRANTON, PENNSYLVANIA'}, {'index': 286760, 'CASE_NUMBER': 'I-200-09322-982956', 'CASE_STATUS': 'WITHDRAWN', 'EMPLOYER_NAME': 'UNIFY SOLUTIONS, INC.', 'SOC_NAME': 'COMPUTER OCCUPATIONS, ALL OTHER', 'SOC_CODE': '15-1199', 'JOB_TITLE': 'SOFTWARE QUALITY ASSURANCE ANALYST', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 66477.0, 'WORKSITE_CITY': 'MAYFIELD VILLAGE', 'WORKSITE_STATE_ABB': 'OH', 'YEAR': 2016, 'WORKSITE_STATE_FULL': 'OHIO', 'WORKSITE': 'MAYFIELD VILLAGE, OHIO'}  ... displaying 10 of 821618 total bound parameter sets ...  {'index': 833337, 'CASE_NUMBER': 'I-203-19267-957459', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'SYMTECH AMERICA INC.', 'SOC_NAME': 'MECHANICAL ENGINEERS', 'SOC_CODE': '17-2141', 'JOB_TITLE': 'PROJECT ENGINEER', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 75483.0, 'WORKSITE_CITY': 'Hershey', 'WORKSITE_STATE_ABB': 'PENNSYLVANIA', 'YEAR': 2019, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA', 'WORKSITE': 'Hershey, PENNSYLVANIA'}, {'index': 708167, 'CASE_NUMBER': 'I-203-19267-976665', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'CROSSCOUNTRY CONSULTING LLC', 'SOC_NAME': 'ACCOUNTANTS AND AUDITORS', 'SOC_CODE': '13-2011', 'JOB_TITLE': 'SENIOR CONSULTANT', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 79768.0, 'WORKSITE_CITY': 'New York', 'WORKSITE_STATE_ABB': 'NEWYORK', 'YEAR': 2019, 'WORKSITE_STATE_FULL': 'NEW YORK', 'WORKSITE': 'New York, NEW YORK'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)